                        /*Body Style CSS3*/


body {

     background-image: url(../photo/2.jpg);
	 background-repeat: no-repeat;
	 background-size: 100% 100%;
	 background-color: #333;
     margin: 0px;
	 padding: 0px;
}



                        /*Menu Style CSS3*/

.var_div_menu {
    position: relative;
    top: 0px;
    background-color: #4C4E7F;
  	height: 80px;
    width: 1423px;
  	box-sizing: border-box;

}

.var_position_menu {

    position: relative;
	  display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  align-items: flex-end;
	  flex-grow: 900px;
    left: 325px;
	  bottom: 65px;
	  right: 10px;
	  height: 150px;
	  width: 750px;
	  box-sizing: border-box;
}


nav.primary-navigation {
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 16px;
	
}

nav.primary-navigation ul li {
	list-style: none;
	margin: 0 auto;
	border-left: 3px solid #3ca0e7;   /*Cor das barras do menu*/
	display: inline-block;
	padding: 0px 50px;           /*0 aumenta as barras do menu e o 30px aumenta o espaçamento entre as palvras do menu*/
	position: relative;
	text-decoration: none;
	text-align: center;
	font-family: 'Big Shoulders Stencil Display', cursive;   /*Fonte Do Google*/
}
nav.primary-navigation li a {
	color: #ffffff;           /*Cor das palavras*/
}
nav.primary-navigation li a:hover {
	color: #3ca0e7;        /*Cor de Hover*/
}
nav.primary-navigation li:hover {
	cursor: pointer;
}
nav.primary-navigation ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	padding-left: 0;       /*Aumenta o quadro depois que passa o mouse no menu*/
	left: 0;
	display: none;
	background: #4C4E7F;    /*Cor de fundo depois que passa o mouse em cima*/
	z-index:10;     /*Este comando faz com que um item sobreponha o outro. No caso o submenu sobrepondo o resto do site*/
}
nav.primary-navigation ul li:hover > ul, nav.primary-navigation ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
	min-width: 250px;                       
	text-align: left;
	padding-top: 20px;                      /*O quão longe fica o text dentro do submenu com relação ao menu principal*/
	box-shadow: 0px 3px 5px -1px #ccc;         /*5px esfuma  -1px controla a borda da cor maior ou menor */
}
nav.primary-navigation ul li ul li {
  clear: both;
	width: 100%;
	text-align: left;
	margin-bottom: 20px;
	border-style: none;
}
nav.primary-navigation ul li ul li a:hover {
	padding-left: 10px;
	border-left: 2px solid #3ca0e7;       /*É a cor da borda left dentro do submenu*/
	transition: all 0.3s ease;
}
a {
	text-decoration: none;
}
a:hover {
	color: #3ca0e7;
}
ul li ul li a {
	transition: all 0.5s ease;
}

						/*Audio Style CSS3*/

.var_audio {
	position: relative;
	bottom: 130px;
	left:1100px;
	box-sizing: border-box;
	width: 0px;

	
	
  
}

audio
{
-webkit-transition:all 0.5s linear;     /*webkit é utilzado em navegadores chrome e safari na frente o nome -webkit-transition or -webkit-box-shadown*/
-moz-transition:all 0.5s linear;        /*moz para mozilla exemplo -moz-transition -moz-box-shadow */
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 25px 20px #4C4E7F;   /*25px Esfuma e o 20px aumenta as bordas*/
-webkit-box-shadow:  2px 2px 25px 20px #4C4E7F;  /*25px Esfuma e o 20px aumenta as bordas*/
box-shadow: 2px 2px 30px 12px #4C4E7F;   /*25px Esfuma e o 20px aumenta as bordas*/
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}

audio:hover, audio:focus, audio:active
{
-webkit-box-shadow:  2px 2px 25px 20px rgba(255,0, 0, 0.3);
-moz-box-shadow: 2px 2px 25px 20px rgba(255,0, 0, 0.4);
box-shadow: 2px 2px 25px 20px #4C4E7F;
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}



                        /*Img Style CSS3*/


.var_img {

    position: relative;
    left: 350px;
	bottom: 50px;
	border: 5px solid #4C4E7F;
	border-radius: 130px;
    box-sizing: border-box;

}



                         /*Paragraph Style CSS3*/

:root {

	font-size: 16px;
}

.var_p {
    position: relative;
	bottom: 10px;
	left: 15px;
    color:#fff;
	font-size:25px;
	font-size: 1.5625rem;
    font-family: 'Lobster', cursive;
	margin-left: 255px;
	margin-right: 300px;
    box-sizing: border-box;
	text-align: center;
	padding: 0px 100px 0px 80px;

}


					            /*LINK mailto Style CSS3*/


	.var_1button a{
		position: relative;
		left: 1180px;
		bottom: 1300px;
		border-top: 1px solid #96d1f8;
		background: #7265d4;
		background: -webkit-gradient(linear, left top, left bottom, from(#333785), to(#7265d4));
		background: -webkit-linear-gradient(top, #333785, #7265d4);
		background: -moz-linear-gradient(top, #333785, #7265d4);
		background: -ms-linear-gradient(top, #333785, #7265d4);
		background: -o-linear-gradient(top, #333785, #7265d4);
		padding: 14.5px 29px;
		-webkit-border-radius: 40px;
		-moz-border-radius: 40px;
		border-radius: 40px;
		-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
		-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
		box-shadow: rgba(0,0,0,1) 0 1px 0;
		text-shadow: rgba(0,0,0,.4) 0 1px 0;
		color: white;
		font-size: 16px;
		font-family: Georgia, serif;
		text-decoration: none;
		vertical-align: middle;
		}
	 .var_1button:hover a{
		border-top-color: #28597a;
		background: #28597a;
		color: #ccc;
		}
	 .var_1button:active a{
		border-top-color: #1b435e;
		background: #1b435e;
		}


					/*Iframe Style CSS3*/


.var_iframe {
	position: relative;
	left: 250px;
	border: 5px solid #333;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;

}




					/*Video Style CSS3*/

.var_iframe_youtube1 {
	position: relative;
	top: 40px;
	left: 340px;
}




























